{
  "presets": [
    ["latest", { "es2015": { "modules": false } }],
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    ["transform-react-jsx", { "useBuiltIns": true }],
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "transform-react-jsx-source",
        "transform-react-jsx-self"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  }
}
